@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Sales Dashboard */

#sales {
    @apply mt-8 max-w-2xl mx-auto;
  }
  #sales .stats {
    @apply mb-8 rounded-lg bg-white shadow-lg grid grid-cols-3;
  }
  #sales .stats .stat {
    @apply p-6 text-center;
  }
  #sales .stats .stat .label {
    @apply block mt-2 text-lg font-medium text-slate-500;
  }
  #sales .stats .stat .value {
    @apply block text-5xl font-extrabold text-indigo-600;
  }
  #sales button {
    @apply inline-flex items-center px-4 py-2 border border-indigo-300 text-sm shadow-sm font-medium rounded-md text-indigo-700 bg-indigo-100 transition ease-in-out duration-150 outline-none hover:bg-white active:bg-indigo-200;
  }
  #sales button img,
  #sales button svg {
    @apply mr-2 h-4 w-4;
  }
  #sales .controls {
    @apply flex items-center justify-end;
  }
  #sales .controls form {
    @apply flex items-center;
  }
  #sales .controls form label {
    @apply uppercase tracking-wide text-indigo-800 text-xs font-semibold mr-2;
  }
  #sales .controls form select {
    @apply appearance-none bg-slate-200 border-indigo-300 border text-indigo-700 py-0 pr-8 rounded-lg font-semibold cursor-pointer mr-2 h-10;
  }
  #sales .controls form select:focus {
    @apply outline-none bg-white border-indigo-500;
  }
  #sales .last-updated {
    @apply text-slate-700 text-sm;
  }

/* Search */

#flights {
  @apply mt-8 max-w-3xl mx-auto text-center;
}
#flights form {
  @apply inline-flex items-center px-2;
}
#flights form input[type="text"] {
  @apply h-10 border border-slate-400 rounded-l-md bg-white px-5 text-base;
}
#flights form input[type="text"]:focus {
  @apply outline-none;
}
#flights button {
  @apply h-10 px-3 py-2 bg-transparent border border-slate-400 border-l-0 rounded-r-md transition ease-in-out duration-150 outline-none hover:bg-slate-300;
}
#flights button img,
#flights button svg {
  @apply h-5 w-5;
}
#flights .flights {
  @apply my-8 bg-white shadow overflow-hidden rounded-md;
}
#flights .flights li {
  @apply border-t border-slate-300 px-6 py-4 hover:bg-indigo-100;
}
#flights .flights li .first-line {
  @apply flex items-center justify-between;
}
#flights .flights li .first-line .number {
  @apply text-lg font-semibold text-indigo-600 truncate;
}
#flights .flights li .first-line .origin-destination {
  @apply mt-0 flex items-center text-base text-indigo-600;
}
#flights .flights li .first-line .origin-destination img,
#flights .flights li .first-line .origin-destination svg {
  @apply flex-shrink-0 mr-1 h-5 w-5;
}
#flights .flights li .second-line {
  @apply mt-2 flex justify-between;
}
#flights .flights li .second-line .departs {
  @apply text-slate-500;
}
#flights .flights li .second-line .arrives {
  @apply text-slate-500;
}


/*
 * Loading Spinner
 *
 * Copied from:
 * https://projects.lukehaas.me/css-loaders/
 */
 .loader,
 .loader:before,
 .loader:after {
   border-radius: 50%;
   width: 2.5em;
   height: 2.5em;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation: load7 1.8s infinite ease-in-out;
   animation: load7 1.8s infinite ease-in-out;
 }
 
 .loader {
   color: #5a67d8;
   font-size: 10px;
   margin: 20px auto;
   position: relative;
   text-indent: -9999em;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-animation-delay: -0.16s;
   animation-delay: -0.16s;
 }
 
 .loader:before,
 .loader:after {
   content: "";
   position: absolute;
   top: 0;
 }
 
 .loader:before {
   left: -3.5em;
   -webkit-animation-delay: -0.32s;
   animation-delay: -0.32s;
 }
 
 .loader:after {
   left: 3.5em;
 }